/*              Fuente            */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color:#F8F8F1;
}


/*              Header y footer                  */
.header, #header {
    background-color: #ceb6ba;
    position: sticky;
    width: 100%;
    top: 0%;
    z-index: 3;
}

footer {
    background-color: #ceb6ba;
    padding: 10px;
    text-align: left;
    color: #0F0A0A;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

footer p {
  color: #0F0A0A;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 400;
}

.divlogo {
  justify-content: center; 
  display: flex; 
}

.logo_labdoo {
    width: 500px;
    height: 60px;
}

.footer-listas {
  list-style: none;
  display: flex;
  flex-flow: wrap;
}

.footer-lista {
  padding: 0 20px 0 20px;
}

.icono-footer {
  width: 40px;
  height: 40px;
}


/*                 Navbar                    */
.container {
  display: flex;
}

.navbar, #navbar {
  display: flex;
  background: #ceb6ba;
  width: 100%;
  height: auto;
  justify-content: right;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin: 0px;
}

.nav-link, .nav-link-d {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  margin: 0px;
  color: #DBE2EF;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s;
}

.nav-link:hover, .nav-link-d:hover {
  background-color: #F6AA1C;
  color: #fff;
}

.icono-navbar {
  width: 40px;
  height: 40px;
}

.active {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background-color: #fdd385;
  border-radius: 10px 10px 0px 0px;
}

.nav-link-d:hover .dropdown-content{
  display: block;
}

.dropdown-content {
  margin-top: 14px;
  display: none;
  background-color: #F6AA1C;
  z-index: 1;
  position: absolute;
  right: 0;
  width: 30%;
  border-radius: 10px 0px 10px 10px;
}

.active-reto {
  background-color: #fdd385;
  color: #212120;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px ;
  transition: 0.3s;
  text-align: right;
}

.no-active-reto {
  color: #212120;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s;
  text-align: right;
}

.no-active-reto:hover {
  background-color: #f2e9e9;
}


/*            titulo                */
.titulo, .titulo-F, .titulo-E {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  background-image: url(images/banner-index.png);
}

.titulo-F {
  background-image: url(images/banner-forumlario.png);
}

.titulo-E {
  background-image: url(images/banner-equipo.jpg);
}

.titulo-textos {
  font-family: "Oswald";
  font-size: 30px;
  color: #422040;
  font-weight: bolder;
  background-color: #F6AA1C;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}

/*                    sustainable                         */
.sustainable {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  justify-content: center;
}

.titulo-sustainable {
  font-weight: bolder;
  font-size:  38px;
  font-weight: bold;
  color: #422040;
  text-transform: uppercase;
  font-family: "Oswald";
  padding: 0px 20px 20px 20px;
  margin: 0;
}

.gif-sus4, .gif-sus5, .gif-sus9, .gif-sus10, .gif-sus11, .gif-sus12, .gif-sus15, .gif-sus17 {
  width: 10%;
  margin: 1%;
  height: auto;
  border-radius: 10px;
}
.gif-sus4:hover, .gif-sus5:hover, .gif-sus9:hover, .gif-sus10:hover, .gif-sus11:hover, .gif-sus12:hover, .gif-sus15:hover, .gif-sus17:hover {
  -webkit-box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
  -moz-box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
  box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
}
.gif-sus4:hover {
  content: url(gif/goal-4.gif);
}
.gif-sus5:hover {
  content: url(gif/goal-5.gif);
}
.gif-sus9:hover {
  content: url(gif/goal-9.gif)
}
.gif-sus10:hover {
  content: url(gif/goal-10.gif);
}
.gif-sus11:hover {
  content: url(gif/goal-11.gif);
}
.gif-sus12:hover {
  content: url(gif/goal-12.gif);
}
.gif-sus15:hover {
  content: url(gif/goal-15.gif);
}
.gif-sus17:hover {
  content: url(gif/goal-17.gif);
}
/*                   Section enuciat                      */
.s-enunciat-labdoo {
  padding: 35px 20px 0px 20px;
  display: flex;
  flex-flow: column;
}
/*    DIV enuciat-labdoo    */
.headerlabdoo {
  background-color: #422040;
  color: #F6AA1C;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
}
.headerlabdoo h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald";
}

.enunciat-labdoo {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    color: #0F0A0A;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.div1-labdoo {
  display: flex;
  width: 70%;
  height: 30%;
  flex-direction: column;
}

/*                Section enuciat-labdoo textos                   */
.enunciat-labdoo h2 {
  font-weight: bolder;
  font-size:  38px;
  font-weight: bold;
  width: 100%;
  height: 20%;
  color: #422040;
  font-family: "Oswald";
}

.enunciat-labdoo p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}
.p1-labdoo {
  width: 100%;
  height: 80%;
}

/*                Section enuciat-labdoo imagen                     */
.imatgelabdoo {
  width: 30%;
  height: 30%;
}
.fotolabdoo {
  width: 100%;
  height: 100%;
}
/*                  Section enuciat-fase                               */
.s-enunciat-fase {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px 20px 20px;
}

/*                    DIV enuciat-fase                             */
.headerfase {
  background-color: #422040;
  color: #F6AA1C;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
  width: 100%;
}
.headerfase h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald";
}
.enunciat-fase {
  display: flex;
  width: 70%;
  height: 20%;
  color: #0F0A0A;
  padding: 2%;
  flex-flow: column;
  border-bottom: 5px solid #422040;
}
/*                 Section enuciat-fase textos              */
.enunciat-fase h2 {
  font-weight: bolder;
  font-size:  38px;
  font-weight: bold;
  color: #422040;
  text-transform: uppercase;
  font-family: "Oswald";
}

.enunciat-fase p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}

/*                          Nav retos                      */
.nav-retos {
  width: 20%;
  display: flex;
  height: auto;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-top: 2%;
  box-sizing: border-box;
}
.ul-reto {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.li-reto {
  border-radius: 20px;
  width: 85%;
  border: 3px solid #422040;
  padding: 5%;
  transition: 0.5s;
  position: relative;
}

.li-reto a {
  display: flex;
  color: #422040;
  text-decoration: none;
  font-size: auto;
  font-weight: bolder;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: left;
  width: auto;
  word-break: break-word;
}

.li-reto:hover {
  border: 3px solid #422040;
  background-color: #C5979D;
  padding-right: 35%;
}

.li-reto:hover .icono-reto {
  width: 60px;
  height: 60px;
  opacity: 1;
  display: block;
}


.icono-reto {
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 5px;
  right: 8px;
  display: none;
}


/*                      Lista de enunciat                    */

.enunciat-lista {
  font-size: 21px;
  font-weight: bold;
  text-align: justify;
  color: #F6AA1C;
}

.enunciat-lista2 {
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-align: justify;
  padding-bottom: 15px;
}

.enunciat-lista3 {
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
  padding-bottom: 15px;
  color: #f5a209;
  margin-left: 10%;
}



/*                Formulari                             */
.section-form {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: #f3e2e3;
}

.fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #F6AA1C;
}

.div-formulario{
  display: flex;
  flex-flow: row;
  width: 100%;
  padding-bottom: 60px;
}

legend {
  color: #422040;
  font-weight: bold;
  font-size: 20px;
}

.container-formulario {
  width: 100%;
  padding: 1% 0%;
}

.entryarea {
  position: relative;
  height: 80x;
  line-height: 50px;
}

.input-text, .input-radio {
  position: absolute;
  width: 80%;
  outline: none;
  font-size: 25px;
  padding: 0 30px;
  line-height: 50px;
  border-radius: 10px;
  border: 2px solid #422040;
  background-color: transparent;
  transition: 0.1s ease;
  z-index: 1;
}

.label-line {
  position: absolute;
  font-size: 18px;
  color: #422040;
  padding: 0 25px;
  margin: 0 20px;
  transition: 0.2s ease;
}

.input-text:focus,
.input-text:valid,
.input-radio:focus,
.input-radio:valid {
  color: #ef9b00;
  border: 4px solid #ef9b00;
}

.input-text:focus + .label-line,
.input-text:valid + .label-line,
.input-radio:focus + .label-line,
.input-radio:valid + .label-line {
  color: #ef9b00;
  height: 30px;
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1;
  background-color: #f3e2e3
}
 
fieldset {
  margin: 15px 10px 25px 10px;
}

.subfieldset {
  width: 40%;
  outline: none;
  font-size: 25px;
  padding: 0 30px;
  line-height: 50px;
  border-radius: 10px;
  border: 2px solid #422040;
  background-color: transparent;
  transition: 0.1s ease;
}

input[type="radio"] {
  accent-color: yellow;
}

.subfieldset:hover {
  border: 3px solid #ef9b00;
}

.sublegend {
  padding: 0 15px 0 15px;
}

/*                equipo                             */
.s-equipo {
  margin: 0;
  padding: 50px 20px 20px 20px;
}

.equipo-listas {
  list-style: none;
}

.miembro-todos {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 700px;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.miembro1 {
  display: flex;
  flex-direction: column;
  width: 22%;
  text-align: center;
  border: 3px solid #fdd385;
  border-radius: 10px;
}

.miembro1:hover {
  -webkit-box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  -moz-box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  transition-duration: 0.5s;
}

/*  Equipo images */

.img-miembro1, .img-miembro2, .img-miembro3, .img-miembro4 {
  width: 100%;
  height: 48%;
  border-radius: 10px;
}

.img-miembro1:hover {
  content: url(images/ivory.png);
}

.img-miembro2:hover {
  content: url(images/chenxiao.png)
}

.img-miembro3:hover {
  content: url(images/sergio.png)
}

.img-miembro4:hover {
  content: url(images/lucas.png)
}

.miembro1 h3 {
  color: #422040;
}

/*Equipo textos*/

.descripcion-miembro {
  padding: 0px 5% 0px 5%;
  text-align: justify;
  font-size: 14px;
  color: #422040;
  line-height: 21px;
}

.equipo-texto {
  text-align: justify;
  line-height: 30px;
  font-size: 20px;
  color: #0F0A0A;
  padding: 0px 30px 25px 30px;
}


/*Reto1*/

/*     Section    */
.section-retos-enunciat {
  padding: 20px 20px 0px 20px;
  margin: 0px;
  flex-wrap: wrap;
  display: flex;
}

/*DIV RETO*/

.enunciat-reto-media {
  width: 45%;
  height: auto;
  color: #0F0A0A;
}

.foto-media-div {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-media-div-column {
  width: 90%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.enunciat-reto {
  width: 90%;
  color: #0F0A0A;
}

.enunciat-reto-70{
  width: 65%;
  height: auto;
  margin-right: 4%;
}

.foto-30-div {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-100-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

.div-topologia {
  display: flex;
  flex-wrap: wrap;
}

.ul-normativa {
  padding: 1% 5%;
  list-style: square;
  width: 100%;
}

.div-proposta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0%;
}

.div-posicio {
  width: 100%;
  margin: 5% 0%;
}

.div-planol {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-planol-pr{
  width: 30%;
}

.div-futuro-a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1% 0%;
  justify-content: center;
  align-items: center;
}

.div-media-futuro{
  display: flex;
  width: 45%;
  flex-flow: column;
  height: auto;
}

.div-pressupost {
  width: 100%;
}

.enunciat-reto-centro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-comparativa {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px
}

/*  Reto Images   */

.I-topologia {
  width: 90%;
  border-radius: 10px;
}

.I-topologia-mixto {
  width: 70%;
  border-radius: 10px;
}

.planol-reto1 {
  width: 50%;
  border-radius: 10px;
}

.I-planol-pr {
  width: 100%;
  border-radius: 10px;
}


/*      Reto textos       */
.enunciat-reto-titulo {
  font-size: 21px;
  font-weight: bold;
  text-align: justify;
  color: #F6AA1C;
  width: 100%;
  padding-left: 5px;
  margin-top: 10px;
  padding-top: 10px;
}

.enunciat-reto-p {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  margin: 0px;
  padding-left: 5px;
  line-height: 35px;
}

.enunciat-reto-p a {
  color: #ef9b00;
}

.enunciat-reto-p-b {
  color: #ef9b00;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  line-height: 35px;
  margin: 0px 10%;
}

.link-reto {
  font-style: italic;
  text-decoration: underline;
}

.enunciat-reto-p-a {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding-left: 5px;
  line-height: 35px;
}

/*        Table        */

.table-proposta {
  width: 65%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-right: 5%;
}

.table-pressupost {
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-pressupost a {
  color: #f5a209;
}

.table-proposta th, .table-proposta td, .table-pressupost th, .table-pressupost td{
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

.table-proposta th, .table-pressupost th {
  color: #422040;
  background-color: #f5d08d;
  font-size: 20px;
}

.table-proposta tr:hover, .table-pressupost tr:hover {
  background-color: #ceb6bab0;
}

.table-proposta tr, .table-pressupost tr {
  transition: 0.3s;
  border-radius: 10px;
}

.table-proposta tr:nth-child(2), .table-pressupost tr:nth-child(2) {
  font-weight: bold;
  color: #F6AA1C;
}

.table-proposta td:nth-child(1), .table-pressupost td:nth-child(1) {
  text-align: left;
}

  /*       Index de reto     */

.div-index {
  width: 100%;
  padding: 2% 0px;
}

.ul-index {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  padding: 0px;
}

.li-index {
  width: 25%;
  height: 50%;
  padding: 1%;
  margin: 3%;
  text-align: center;
}

.li-index a {
  border: 2px solid #422040;
  border-radius: 20px;
  padding: 5% 10% 5% 10%;
  text-decoration: none;
  color: #F6AA1C;
  transition: 0.5s;
  font-size: 25px;
  font-weight: bold;
}

.li-index a:hover {
  color: #422040;
  background-color: #F6AA1C;
}
