
body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    margin: 0;
    padding: 0;
}

h1, h2 {
  font-variant: small-caps;
}

/*              Header y footer                  */
.header {
    background-color: rgba(255, 255, 255, 0.60);
    position: sticky;
    width: 100%;
    top: 0%;
}

footer {
    background-color: #112D4E;
    padding: 10px;
    text-align: left;
    color: #F9F7F7;
}

.divlogo {
  justify-content: center; 
  display: flex; 
}

.logo_labdoo {
    width: 500px;
    height: 60px;
}
/*                 Navbar                    */
.container {
  display: flex;
}

.navbar {
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  justify-content: right;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin: 0px;
}

.nav-link {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  margin: 0px;
  color: #DBE2EF;
  border-radius: 10px 10px 0px 0px;
  transition: background-color .3s;
}


.nav-link:hover {
  background-color: #9085BC;
  color: #fff;
}

.icono-navbar {
  width: 50px;
  height: 50px;
}

.active {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background-color: #E0DDF0;
  border-radius: 10px 10px 0px 0px;
}
/*            titulo                */
.titulo {
  background-image: url(images/mapamundial-labdoo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-textos {
  font-size: 30px;
  color: #ffffff;
  font-weight: bolder;
  background-color: rgba(16, 44, 75, 0.861);
  width: 50%;
  height: 20%;
  text-align: center;
  border-radius: 10px;
}

/*                    sustainable                         */
.sustainable {
  display: flex;
  flex-wrap: wrap;
  background-color: #DBE2EF;
  width: 100%;
  margin: 0px;
  justify-content: center;
}
.gif-sus4, .gif-sus5, .gif-sus9, .gif-sus10, .gif-sus11, .gif-sus12, .gif-sus15, .gif-sus17 {
  width: 10%;
  margin: 1%;
  height: auto;
  border-radius: 10px;
}
.gif-sus4:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-4.gif);
}
.gif-sus5:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-5.gif);
}
.gif-sus9:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-9.gif)
}
.gif-sus10:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-10.gif);
}
.gif-sus11:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-11.gif);
}
.gif-sus12:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-12.gif);
}
.gif-sus15:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-15.gif);
}
.gif-sus17:hover {
  -webkit-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  -moz-box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  box-shadow: 0px 10px 25px 13px rgba(169,192,217,1);
  content: url(gif/goal-17.gif);
}
/*                   Section enuciat                      */
.s-enunciat-labdoo {
  padding: 35px 20px 20px 20px;
  background-color: #DBE2EF;
  display: flex;
  flex-flow: column;
}
/*    DIV enuciat-labdoo    */
.headerlabdoo {
  background-color: #112D4E;
  color: #F9F7F7;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
}
.headerlabdoo h2 {
  margin: 0px;
  padding: 0px;
}

.enunciat-labdoo {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    background-color: #DBE2EF;
    color: #112D4E;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.div1-labdoo {
  display: flex;
  width: 70%;
  height: 30%;
  flex-direction: column;
}

/*                Section enuciat-labdoo textos                   */
.enunciat-labdoo h2 {
  font-weight: bolder;
  text-decoration: underline;
  font-size:  38px;
  font-weight: bold;
  width: 100%;
  height: 20%;
}

.enunciat-labdoo p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}
.p1-labdoo {
  width: 100%;
  height: 80%;
}

/*                Section enuciat-labdoo imagen                     */
.imatgelabdoo {
  width: 30%;
  height: 30%;
}
.fotolabdoo {
  width: 100%;
  height: 100%;
}
/*                  Section enuciat-fase                               */
.s-enunciat-fase {
  padding: 2%;
  background-color: #DBE2EF;
  display: flex;
  flex-wrap: wrap;
}

/*                    DIV enuciat-fase                             */
.headerfase {
  background-color: #112D4E;
  color: #DBE2EF;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
  width: 100%;
}
.headerfase h2 {
  margin: 0px;
  padding: 0px;
}
.enunciat-fase {
  display: flex;
  width: 75%;
  height: 20%;
  background-color: #DBE2EF;
  color: #112D4E;
  padding: 2%;
  flex-flow: column;
  border-bottom: 5px solid #112D4E;
}
/*                 Section enuciat-fase textos              */
.enunciat-fase h2 {
  font-weight: bolder;
  text-decoration: underline;
  font-size:  38px;
  font-weight: bold;
}

.enunciat-fase p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}

/*                          Nav retos                      */
.nav-retos {
  width: 16%;
  display: flex;
  height: auto;
  color: #112D4E;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-top: 10%;
}

.ul-reto {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.li-reto {
  background-color: #DBE2EF;
  border-radius: 20px;
  width: 100%;
  margin: 5% 0px 30% 0px;
  border: 2px solid #9085BC;
  padding: 5%;
}

.li-reto a {
  display: flex;
  color: #112D4E;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.li-reto:hover {
  border: 2px solid #DBE2EF;
  background-color: #9085BC;
}
/*                      Lista de enuciat                    */

.enunciat-lista {
  font-size: 21px;
  font-weight: bold;
  text-align: justify;
}

.enunciat-lista2 {
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-align: justify;
  padding-bottom: 15px;
}