/*              Fuente            */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}


/*              Header y footer                  */
.header {
    background-color: #ceb6ba;
    position: sticky;
    width: 100%;
    top: 0%;
    z-index: 1;
}

footer {
    background-color: #C5979D;
    padding: 10px;
    text-align: left;
    color: #0F0A0A;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

footer p {
  color: #0F0A0A;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 400;
}

.divlogo {
  justify-content: center; 
  display: flex; 
}

.logo_labdoo {
    width: 500px;
    height: 60px;
}

.footer-listas {
  list-style: none;
  display: flex;
  flex-flow: wrap;
}

.footer-lista {
  padding: 0 20px 0 20px;
}

.icono-footer {
  width: 40px;
  height: 40px;
}


/*                 Navbar                    */
.container {
  display: flex;
}

.navbar {
  display: flex;
  background: #ceb6ba;
  width: 100%;
  height: auto;
  justify-content: right;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin: 0px;
}

.nav-link {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  margin: 0px;
  color: #DBE2EF;
  border-radius: 10px 10px 0px 0px;
  transition: background-color .3s;
}

.nav-link:hover {
  background-color: #F6AA1C;
  color: #fff;
}

.icono-navbar {
  width: 40px;
  height: 40px;
}

.active {
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background-color: #fdd385;
  border-radius: 10px 10px 0px 0px;
}
/*            titulo                */
.titulo, .titulo-F, .titulo-E {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  background-image: url(images/banner-index.png);
}

.titulo-F {
  background-image: url(images/banner-forumlario.png);
}

.titulo-E {
  background-image: url(images/banner-equipo.jpg);
}

.titulo-textos {
  font-family: "Oswald";
  font-size: 30px;
  color: #422040;
  font-weight: bolder;
  background-color: #F6AA1C;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}

/*                    sustainable                         */
.sustainable {
  display: flex;
  flex-wrap: wrap;
  background-color: #F8F8F1;
  width: 100%;
  margin: 0px;
  justify-content: center;
}
.gif-sus4, .gif-sus5, .gif-sus9, .gif-sus10, .gif-sus11, .gif-sus12, .gif-sus15, .gif-sus17 {
  width: 10%;
  margin: 1%;
  height: auto;
  border-radius: 10px;
}
.gif-sus4:hover, .gif-sus5:hover, .gif-sus9:hover, .gif-sus10:hover, .gif-sus11:hover, .gif-sus12:hover, .gif-sus15:hover, .gif-sus17:hover {
  -webkit-box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
  -moz-box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
  box-shadow: 2px -2px 24px 8px rgba(246,170,28,0.59);
}
.gif-sus4:hover {
  content: url(gif/goal-4.gif);
}
.gif-sus5:hover {
  content: url(gif/goal-5.gif);
}
.gif-sus9:hover {
  content: url(gif/goal-9.gif)
}
.gif-sus10:hover {
  content: url(gif/goal-10.gif);
}
.gif-sus11:hover {
  content: url(gif/goal-11.gif);
}
.gif-sus12:hover {
  content: url(gif/goal-12.gif);
}
.gif-sus15:hover {
  content: url(gif/goal-15.gif);
}
.gif-sus17:hover {
  content: url(gif/goal-17.gif);
}
/*                   Section enuciat                      */
.s-enunciat-labdoo {
  padding: 35px 20px 20px 20px;
  background-color: #F8F8F1;
  display: flex;
  flex-flow: column;
}
/*    DIV enuciat-labdoo    */
.headerlabdoo {
  background-color: #422040;
  color: #F6AA1C;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
}
.headerlabdoo h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald";
}

.enunciat-labdoo {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    color: #0F0A0A;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.div1-labdoo {
  display: flex;
  width: 70%;
  height: 30%;
  flex-direction: column;
}

/*                Section enuciat-labdoo textos                   */
.enunciat-labdoo h2 {
  font-weight: bolder;
  text-decoration: underline;
  font-size:  38px;
  font-weight: bold;
  width: 100%;
  height: 20%;
  color: #422040;
  font-family: "Oswald";
}

.enunciat-labdoo p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}
.p1-labdoo {
  width: 100%;
  height: 80%;
}

/*                Section enuciat-labdoo imagen                     */
.imatgelabdoo {
  width: 30%;
  height: 30%;
}
.fotolabdoo {
  width: 100%;
  height: 100%;
}
/*                  Section enuciat-fase                               */
.s-enunciat-fase {
  background-color: #F8F8F1;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px 20px 20px;
}

/*                    DIV enuciat-fase                             */
.headerfase {
  background-color: #422040;
  color: #F6AA1C;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px 15px 0px;
  width: 100%;
}
.headerfase h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald";
}
.enunciat-fase {
  display: flex;
  width: 70%;
  height: 20%;
  background-color: #F8F8F1;
  color: #0F0A0A;
  padding: 2%;
  flex-flow: column;
  border-bottom: 5px solid #422040;
}
/*                 Section enuciat-fase textos              */
.enunciat-fase h2 {
  font-weight: bolder;
  text-decoration: underline;
  font-size:  38px;
  font-weight: bold;
  color: #422040;
  text-transform: uppercase;
  font-family: "Oswald";
}

.enunciat-fase p {
  font-weight: normal;
  text-align: justify;
  line-height: 30px;
  max-width: 99%;
  font-size: 21px;
}

/*                          Nav retos                      */
.nav-retos {
  width: 20%;
  display: flex;
  height: auto;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-top: 2%;
  box-sizing: border-box;
}
.ul-reto {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.li-reto {
  border-radius: 20px;
  width: 85%;
  border: 3px solid #422040;
  padding: 5%;
  transition: 0.5s;
  position: relative;
}

.li-reto a {
  display: flex;
  color: #422040;
  text-decoration: none;
  font-size: auto;
  font-weight: bolder;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: left;
  width: auto;
  word-break: break-word;
}

.li-reto:hover {
  border: 3px solid #422040;
  background-color: #C5979D;
  padding-right: 30%;
}

.li-reto:hover .icono-reto {
  width: 60px;
  height: 60px;
  opacity: 1;
  display: block;
}


.icono-reto {
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 7.2px;
  right: 8px;
  display: none;
}


/*                      Lista de enunciat                    */

.enunciat-lista {
  font-size: 21px;
  font-weight: bold;
  text-align: justify;
  color: #F6AA1C;
}

.enunciat-lista2 {
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-align: justify;
  padding-bottom: 15px;
}


/*                Formulari                             */
.section-form {
  background: #d8bec0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.form {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: #d4b8bb;
}

fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #F6AA1C;
}

legend {
  color: #422040;
  font-weight: bold;
  font-size: 20px;
}

table {
  color: #422040;
}


/*                equipo                             */
.s-equipo {
  margin: 0;
  padding: 50px 20px 20px 20px;
  background: #F8F8F1;
}

.equipo-texto {
  text-align: justify;
  line-height: 30px;
  font-size: 20px;
  color: #0F0A0A;
  padding: 0px 30px 25px 30px;
}

.equipo-listas {
  list-style: none;
}

.miembro-todos {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 700px;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.miembro1 {
  display: flex;
  flex-direction: column;
  width: 22%;
  text-align: center;
  border: 3px solid #fdd385;
  border-radius: 10px;
}

.miembro1:hover {
  -webkit-box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  -moz-box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  box-shadow: 2px 5px 36px 24px rgba(253,211,133,0.8);
  transition-duration: 0.5s;
}

.img-miembro1, .img-miembro2, .img-miembro3, .img-miembro4 {
  width: 100%;
  height: 48%;
  border-radius: 10px;
}

.img-miembro1:hover {
  content: url(images/ivory.png);
}

.img-miembro2:hover {
  content: url(images/chenxiao.png)
}

.img-miembro3:hover {
  content: url(images/sergio.png)
}

.img-miembro4:hover {
  content: url(images/lucas.png)
}

.miembro1 h3 {
  color: #422040;
}

.descripcion-miembro {
  padding: 0px 5% 0px 5%;
  text-align: justify;
  font-size: 14px;
  color: #422040;
  line-height: 21px;
}


/*Reto1*/

.retos-enunciat {
  padding: 20px 20px 0px 20px;
  margin: 0px;
  background-color: #F8F8F1;
}

.enunciat-reto {
  display: flex;
  width: 90%;
  height: 20%;
  color: #0F0A0A;
  padding: 2%;
}